<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Quentin Muller{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />

        <!-- Fonts -->
        <script src="https://use.fontawesome.com/e1938e0518.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    </head>
    <body>
        {% block menu %}
        <nav class="navbar main-menu navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fa fa-paint-brush"></i> Portfolio</a></li>
                <li><a href="#"><i class="fa fa-code"></i> Curriculum</a></li>
                <li><a href="#"><i class="fa fa-paper-plane"></i> Contactez-moi</a></li>
              </ul>
            </div>
          </div>
        </nav>
        {% endblock %}

        <div class="jumbotron">
          <div class="container">
            <h1>Quentin Muller</h1>
            <p>
              Full stack web developper
            </p>
          </div>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
